.header {
  height: 100px;
}
.item {
  transition: ease-in-out 0.8s;
  background-color: rgba(97, 96, 96, 0.911);
}
.item:hover {
  /* background-color: #61dafb; */
  background-color: rgba(97, 97, 97, 0.555);
  transition: ease-in-out 0.5s;
  font-weight: bold;
  font-size: large;
  /* -webkit-box-shadow: 28px 24px 20px -16px rgba(22,184,184,1);
-moz-box-shadow: 28px 24px 20px -16px rgba(22,184,184,1);
box-shadow: 10px 10px 10px -10px rgba(22,184,184,1); */
-webkit-box-shadow: 1px 1px 10px 3px rgba(22,184,184,1);
-moz-box-shadow: 1px 1px 10px 3px rgba(22,184,184,1);
box-shadow: 1px 1px 10px 3px rgba(22,184,184,1);
}
.visible {
  opacity: 0;
  transition: 2s;
}
.item:hover .visible {
  opacity: 1;
  transition: ease-out 1s;
  
}
.wrapper {
  min-height: calc(100vh - 208px)
}
.edit-item-wrapper {
  width: 50%;
  margin: 150px auto ;
  
}
.table-wrapper {
  min-height: 487px;
}
.App {
  min-width: 600px;
}
.page-link {
  background-color: transparent!important;
}
 .page-link:focus {
  box-shadow: none!important;
}
.page-link:hover{
  background-color:rgba(97, 97, 97, 0.555)!important;
} 
.active-page .page-link{
  background-color:rgba(97, 97, 97, 0.555)!important;
  color: white!important;
  font-weight: bold;
}
.error {
  height: 50px;
  background-color: rgba(202, 64, 39, 0.685);
  color:red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; 
  margin: 5px;
}