.header {
  height: 100px;
}
.item {
  transition: ease-in-out 0.5 s;
}
.item:hover {
  background-color: #61dafb;
  transition: ease-in-out 0.5s;
}
.visible {
  opacity: 0;
}
.item:hover .visible {
  opacity: 1;
  transition: ease-out 0.8s;
}
